h1 {
  color: white;
  font-family: Apple Chancery, cursive;
}
button {
  pointer-events: none;
  resize: auto;
}
#drumkit {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 159px;
}
#bass {
  position: relative;
  left: 50%;
  transform: translate(-68%, -600%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#crash-2 {
  position: relative;
  left: 24%;
  transform: rotate(13deg) translate(-223%, -1110%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#snare {
  position: relative;
  left: 50%;
  transform: rotate(-10deg) translate(-387%, -670%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#low-tom {
  position: relative;
  left: 49%;
  transform: rotate(43deg) translate(-208%, -384%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#med-tom {
  position: relative;
  top: 60%;
  left: 50%;
  transform: rotate(3deg) translate(-252%, -376px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#hi-hat {
  position: relative;

  left: -6%;
  transform: rotate(-31deg) translate(87%, -214px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#record {
  position: relative;
  left: -44%;
  transform: rotate(-43deg) translate(91%, -88px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#ride {
  position: relative;
  left: 15%;
  transform: rotate(38deg) translate(11%, -317px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#crash {
  position: relative;
  left: -1%;
  transform: rotate(-16deg) translate(118%, -414px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#high-tom {
  position: relative;
  left: 31%;
  transform: rotate(-2deg) translate(-244%, -392px);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
img.drums {
  display: block;
}
h5 {
  color: white;
  font-family: Apple Chancery, cursive;
}
#title {
  text-align: center;
  border: 3px solid white;
}
body {
  background-color: black;
  height: 0;
  background: black;
  position: relative;
}
