h1 {
  color: white;
  font-family: Apple Chancery, cursive;
}
img.drums {
  display: block;
  margin: 0 auto;
}
h5 {
  color: white;
  font-family: Apple Chancery, cursive;
}
#title {
  text-align: center;
  border: 3px solid white;
}
body {
  background-color: black;
}
